#!/usr/bin/make -f
export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all optimize=-lto
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

GCC_VER = $(shell dpkg-query -f '$${Depends}' -W gcc | grep -o 'gcc-[0-9]\+' | tail -n1)
LIBGCC_VER = $(shell dpkg-query -f '$${Depends}' -W $(GCC_VER) | grep -o 'libgcc-[0-9]\+-dev' | tail -n1)

GXX_VER = $(shell dpkg-query -f '$${Depends}' -W g++ | grep -o 'g++-[0-9]\+' | tail -n1)
LIBSTDCXX_VER = $(shell dpkg-query -f '$${Depends}' -W $(GXX_VER) | grep -o 'libstdc++-[0-9]\+-dev' | tail -n1)

GOBJC_VER = $(shell dpkg-query -f '$${Depends}' -W gobjc | grep -o 'gobjc-[0-9]\+' | tail -n1)
LIBOBJC_VER = $(shell dpkg-query -f '$${Depends}' -W $(GOBJC_VER) | grep -o 'libobjc-[0-9]\+-dev' | tail -n1)

SONAME_SUFFIX := 1 # added to .so
VENDOR=$(shell lsb_release -is)

%:
	dh $@ -Dllvm

override_dh_auto_configure:
	dh_auto_configure -Scmake --       \
		-DCLANG_BUILD_EXAMPLES=OFF     \
		-DCLANG_VENDOR=$(VENDOR)       \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr/lib/llvm-9 \
		-DENABLE_LINKER_BUILD_ID=ON    \
		-DLIBCLANG_LIBRARY_VERSION=$(SONAME_SUFFIX) \
		-DLLVM_BUILD_DOCS=ON           \
		-DLLVM_BUILD_LLVM_DYLIB=ON     \
		-DLLVM_ENABLE_FFI=ON           \
		-DLLVM_ENABLE_PROJECTS=clang   \
		-DLLVM_ENABLE_RTTI=ON          \
		-DLLVM_ENABLE_SPHINX=ON        \
		-DLLVM_ENABLE_Z3_SOLVER=ON     \
		-DLLVM_INSTALL_UTILS=ON        \
		-DLLVM_LINK_LLVM_DYLIB=ON      \
		-DLLVM_VERSION_SUFFIX=         \
	   	-DSPHINX_OUTPUT_HTML=OFF       \
	   	-DSPHINX_OUTPUT_MAN=ON         \
		-DSPHINX_WARNINGS_AS_ERRORS=OFF

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install

	# create *-9 links
	mkdir -p debian/tmp/usr/bin;       \
	cd debian/tmp/usr/bin;             \
	for f in ../lib/llvm-9/bin/*; do basename $$f | grep -q -- "-9$$" || ln -s $$f $$(basename $$f)-9; done

	# add -9 to man pages
	cd debian/tmp/usr/lib/llvm-9/share/man/man1; \
	for f in *.1; do echo $$f | grep -q -- "-9.1$$" || mv $$f $${f%.1}-9.1; done

override_dh_missing:
	dh_missing --list-missing

override_dh_dwz:
	dh_dwz -- -L 200000000

override_dh_gencontrol:
	dh_gencontrol -- -Vdep:devlibs="$(LIBGCC_VER), $(LIBSTDCXX_VER), $(LIBOBJC_VER)"
